.ktc-radio-button-size-s {
    width: 12px;
    height: 12px;
    border: 1px
}

.ktc-radio-button-size-m {
    width: 15px;
    height: 15px;
    border: 1px
}

.ktc-radio-button-secondary {
    width: 15px;
    height: 15px;
    border: 1px
}

.storybook-radio-primary {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-right: 8px;
}
  
.storybook-radio-primary:checked {
  border: 2px solid var(--ktc-color-secondary);
}

.storybook-radio-primary:checked::after {
  content: '';
   background-color: var(--ktc-color-secondary); /* 선택되었을 때의 배경색 */
   width: 10px;
   height: 10px;
   border-radius: 50%;
   position: fixed;
   bottom: 20px; 
   left: 20px;
}

.storybook-radio-primary:checked:hover {
  border: 2px solid var(--ktc-color-teal-700);
}

.storybook-radio-primary:checked:hover::after {
   background-color: var(--ktc-color-teal-700);
}