.storybook-radio-focus {
  display: inline-block;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  &:hover {
    display: inline-block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #f5faff;
  }

  &:active {
    background-color: var(--ktc-color-blue-100);
    transition: 0.3s all ease-in-out;
  }
}

/* 공통------------------------------------ */
@mixin storybook-radio($color, $hover-color) {
  appearance: none;
  -webkit-appearance: none;
  border: 2px solid #737373;
  border-radius: 50%;
  position: relative;
  cursor: pointer;

  &:checked {
    border: 2px solid $color;
  }

  &:checked::after {
    content: '';
    background-color: $color; /* 선택되었을 때의 배경색 */
    border-radius: 50%;
    position: absolute;
  }

  &:checked:hover {
    border: 2px solid $hover-color;
  }

  &:checked:hover::after {
    background-color: $hover-color;
  }

  &:disabled {
    appearance: none;
    -webkit-appearance: none;
    border: 2px solid #9f9f9f;
    border-radius: 50%;
    position: relative;
    cursor: default;
  }
}

/* color------------------------------------ */
$colors: (
        primary: blue,
        secondary: teal,
        success: teal,
        warning: yellow,
        error: red
);

.storybook-radio-color {
  @each $name, $color in $colors {
    &-#{$name} {
      @include storybook-radio(var(--ktc-color-#{$name}), var(--ktc-color-#{$color}-700))
    }
  }
}

/* radio size------------------------------------ */
@mixin radio-size($width, $height, $top, $left, $checked-width, $checked-height) {
  width: $width;
  height: $height;
  top: $top;
  left: $left;

  &:checked::after {
    content: '';
    width: $checked-width;
    height: $checked-height;
    top: 3px;
    left: 3px;
  }
}

.storybook-radio-size {
  &-small {
    @include radio-size(18px, 18px, 10px, 8px, 8px, 8px);
  }
  &-medium {
    @include radio-size(20px, 20px, 9px, 7px, 10px, 10px);
  }
  &-large {
    @include radio-size(23px, 23px, 8px, 6px, 13px, 13px);
  }
}

/* font size------------------------------------ */
@mixin font-size($size) {
  font-size: $size;
  display: inherit;
  align-items: center;
  justify-content: center;
}

.storybook-font-size {
  &-small { @include font-size(var(--ktc-font-size-s)) }
  &-medium { @include font-size(var(--ktc-font-size-m)) }
  &-large { @include font-size(var(--ktc-font-size-l)) }
}