@mixin storybook-check($unchecked-color, $checked-color) {
  // 기본 체크박스 스타일 제거
  appearance: none;
  -webkit-appearance: none;
  width: 13px;
  height: 13px;
  border: 1.2px solid $unchecked-color;
  border-radius: 2px;
  cursor: pointer;
  position: relative;

  // 체크되었을 때의 스타일
  &:checked {
    background-color: $checked-color;
    border-color: $checked-color;

    &::after {
      content: '';
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(40deg);
      width: 3px;
      height: 7px;
      border: solid white;
      border-width: 0 2px 2px 0; // 체크 표시 모양
    }
  }
}

// 사용 예시
//.storybook-check-color-primary {
//  @include storybook-check(#707070, pink);
//}


/* color------------------------------------ */
$colors: (
        primary: blue,
        secondary: teal,
        success: teal,
        warning: yellow,
        error: red
);

.storybook-check-color {
  @each $name, $color in $colors {
    &-#{$name} {
      @include storybook-check(#ccc, var(--ktc-color-#{$name}))
    }
  }
}